.onelocus-table {
    align-self: center;
    margin-top: 3vw;
}

.responsive-table {
    margin-left: 7%;
    margin-right: 7%;
    overflow-x: auto;
    border: 1px solid rgb(0, 46, 0);
}

.ctool-title {
    color: white;
    font-size: medium;
}

.onelocus-table tr td {
    align-items: center;
    padding: 2vw;
    color: white;
}

.calculate-buttons {
    margin-top: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}